.login-option-list{
    position:absolute;
    width:2.18rem;
    top:0.7rem;
    right:0;
    box-shadow: 0 0 5px #1ba40b;
    z-index:10;
}
.login-option-list-inner{
    width:100%;
    background:#fff;
}
.login-item{
    display:flex;
    font-size:0.3rem;
    padding-left: 0.2rem;
    border-bottom:1px solid rgba(104,134,101,0.3);
}
.login-item .icon{
        font-size: 0.4rem;
    color: #1ba40b;
    width: 20%;
    line-height: 0.7rem;
}
.login-item span{
    align-self: center;
    width:80%;
    letter-spacing: 0.7em;
}