@import '../icons/iconfont.css';
.login-area{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background:#fff;
    z-index: 10;
}
.login-area-inner{
    width:5.92rem;
    margin:0 auto;
    height: 0.72rem;
    display:flex;
    flex-direction: col;
}
.avatar{
    width:0.68rem;
    height: 0.68rem;
    overflow:hidden;
    box-shadow: 0 0 5px #1ba40b;
}
.user-name{
    font-size:0.3rem;
    width: 4.3rem;
    text-align: left;
    margin-left: 0.2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-shadow: #1ba40b;
}
.listIcon.icon{
    font-size:0.6rem;
    color:#1ba40b;
}