.recommend{
    width:100%;
    overflow:hidden;
}
.recommendItem{
    width:1.32rem;
    float:left;
    margin:0 0.08rem;
    margin-top:0.1rem;
}
.recommend_avatar{
    width:100%;
    height:1.32rem;
    background:url('../images/loading.gif') no-repeat center 50%;
    background-size:50% 50%;
}
.recommendInfo{
    bottom:0;
    background:rgba(0,0,0,0.5);
    width:100%;
    color:#ccc;
    font-size:0.15rem;
    line-height: 0.3rem;
    display:flex;
}
.recommendInfo .icon{
    font-size:0.15rem;
    width:20%;
    align-self: center;
}
.recommendInfo span{
    width:60%;
    text-align: left;
}
.recommend_title{
    margin-top:0.08rem; 
    font-size:0.16rem;
    height:0.53rem;
    text-align: left;
    word-break: break-all;
}