.singleSong{
    width:100%;
    display:flex;
    color:#1ba40b;
    padding-bottom:0.1rem;
    border-bottom:1px solid #ccc;
    margin-bottom: 0.1rem;
}
.songName{
        text-align: left;
        font-size: 0.24rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.songInfo{
    text-align: left;
    width: 75%;
}
.optList{
    width: 22%;
    display: flex;
    justify-content: space-around;
}
.optList .icon{
    align-self: center;
    font-size:0.25rem;
}

.songAuthor{
    color:#999;
}

p.songName.isPlaying {
    color: #f12014;
}