@import './font-awesome/css/font-awesome.min.css';
@import './icons/iconfont.css';
.App {
  text-align: center;
  width:6.4rem;
  margin:0 auto;
}
*{
  margin:0;
  padding:0;
}
ul,li{
  list-style-type: none;
}
img{
  vertical-align: middle;
}
a{
  color:#000;
  text-decoration: none;
}
.page{
  width:100%;
  height:100%;
}
.before:before{
  content:'';
  display:table;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
  background:#eee;
  font-size: 0.14rem;
}
.animate img{
  display:block;
  width:100%;
}
.pos_abs{
  position:absolute;
  z-index:3;
}
.pos_rel{
  position:relative;
}

.zoomIn-enter-active {
  animation: zoomIn .25s ease;
}

.zoomIn-leave-active {
  animation: zoomIn .25s ease reverse;
}

.zoomIn-leave {
  opacity: 0;
}

.slideLeft-enter-active {
  animation: slideInLeft .25s ease;
}

.slideLeft-leave-active {
  animation: slideInLeft .25s ease reverse;
}

.slideLeft-leave {
  opacity: 0;
}
.slideInRight-enter-active {
  animation: slideInLeft .25s ease;
}

.slideInRight-leave-active {
  animation: slideInLeft .25s ease reverse;
}

.slideInRight-leave {
  opacity: 0;
}
.fadeIn-enter-active {
  animation: fadeIn .25s ease;
}

.fadeIn-leave-active {
  animation: fadeIn .25s ease reverse;
}

.fadeIn-leave {
  opacity: 0;
}
